honcho==0.7.1
tornado==4.5.3
cryptography 
pyspider
selenium
splinter 
redis
pymongo
mongoengine
pymysql
mysqlclient
sqlalchemy
requests-html
requests
demjson
jwt
fake_useragent
chardet
lxml
pyquery
beautifulsoup4
gevent
aiohttp
pyppeteer
ipython
numpy
pandas
jieba
xlwt
xlrd
xlsxwriter
openpyxl
pyexecjs
